/*---Основная кнопка меню---*/
.Activ_button_top {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 30px;
    width: 12%;
    left: 70%;
    top: 5px;
    cursor: pointer;
    outline: none;
    border: 0;
    box-shadow: 0 0 1px black;
    background-color: rgba(255, 255, 255);
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Activ_button_top:hover {
    position: absolute;
    margin: 0 auto;
    padding-top: 10px;
    height: 30px;
    width: 12%;
    left: 70%;
    top: 5px;
    /*background: linear-gradient(to bottom, #ffffff, #ffffff,  #9cffd6, #42ffb0, #00ff95);*/  /*--Для версии 2.0--*/
    /*background-color: rgb(248, 248, 248);*/
    background-color: #007bf74f;
    cursor: pointer;
    outline: none;
    font-size: 21.5px;
    border: 0;
    box-shadow: 0 0 2px black;
    text-align: center;
    transition: 0.2s all ease-in;
}
.Activ_button_top_notpress {
    position: absolute;
    margin: 0 auto;
    padding-top: 10px;
    height: 30px;
    width: 12%;
    left: 70%;
    top: 5px;
    /*background: linear-gradient(to bottom, #ffffff, #ffffff,  #9cffd6, #42ffb0, #00ff95);*/  /*--Для версии 2.0--*/
    /*background-color: rgb(248, 248, 248);*/
    background-color: #0084ff;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 21.5px;
    border: 0;
    box-shadow: 0 0 2px black;
    text-align: center;
    transition: 0.2s all ease-in;
}


/*------Начало выплывающего блока меню выбора позиций-----*/

.style_Show_block_select_positions {
    position: absolute;
    opacity: 1;
    pointer-events: auto;
    margin: 0 auto;
    top: 52px;
    height: 320px;
    width: 16%;
    left: 68.2%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 35px black;
    border: 2px outset rgb(185, 185, 185);
    z-index: 100000;
    transition: 0.1s;
    transform: rotateX(90deg);
}
.style_button_block_select {
    position: absolute;
    opacity: 1;
    pointer-events: auto;
    margin: 0 auto;
    top: 52px;
    height: 320px;
    width: 16%;
    left: 68.2%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px black;
    border: 2px outset rgb(185, 185, 185);
    z-index: 100000;
    transition: 0.1s;
    transform: rotateX(0deg);
}

/*---------Стили кнопок выбора позиций----------*/


.style_button_select_position_connection {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 4%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_null_sdo {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 20%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_consultation {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 36%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_auto_resolution {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 52%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_admin_nomecltr {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 68%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_directory {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;  /*+9%*/
    top: 84%;  /*+14%*/
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
/*--------------HOVER----------------*/
.style_button_select_position_connection:hover {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 4%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(58, 58, 58, 0.5);
    color: white;
    text-align: center;
    font-size: 21.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_null_sdo:hover {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 20%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(44, 44, 44, 0.5);
    color: white;
    text-align: center;
    font-size: 21.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_consultation:hover {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 36%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(44, 44, 44, 0.5);
    color: white;
    text-align: center;
    font-size: 21.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_auto_resolution:hover {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 52%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(44, 44, 44, 0.5);
    color: white;
    text-align: center;
    font-size: 21.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_admin_nomecltr:hover {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;
    top: 68%;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(44, 44, 44, 0.5);
    color: white;
    text-align: center;
    font-size: 21.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}
.style_button_select_position_directory:hover {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    width: 97%;
    left: 0%;  /*+9%*/
    top: 84%;  /*+14%*/
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: rgba(44, 44, 44, 0.5);
    color: white;
    text-align: center;
    font-size: 21.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s all ease-in;
}

#id_bt_connection:active, #id_bt_null_sdo:active, #id_bt_consultation:active, #id_bt_resolution:active, 
#id_bt_nomecltr:active, #id_bt_directory:active {
    background-color: rgba(25, 25, 25, 0.5);
    font-size: 21px;
    transition: 0.05s;
}
@media (max-width: 1700px) {
    .Activ_button_top {
        font-size: 19px;
    }
    .Activ_button_top:hover {
        font-size: 18.5px;
    }
    .Activ_button_top_notpress {
        font-size: 18.5px;
    }
}
@media (max-width: 1500px) {
    .Activ_button_top {
        font-size: 17px;
    }
    .Activ_button_top:hover {
        font-size: 16.5px;
    }
    .Activ_button_top_notpress {
        font-size: 16.5px;
    }
}
@media (max-width: 1356px) {
    .Activ_button_top {
        font-size: 14px;
    }
    .Activ_button_top:hover {
        font-size: 13.5px;
    }
    .Activ_button_top_notpress {
        font-size: 13.5px;
    }
}