.Global_Fon_blok {
    position: relative;
    margin: 0 auto;
    /*background-color: rgb(54, 54, 54);   --Для отладки позиционирования--*/
    height: 900px;
    width: 90%;
}
.parent_blok_autoris {
    position: relative;
    margin-left: 50px;
    margin-top: 40px;
    float: left;
    height: 800px;
    width: 30%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 18px black;
}
.parent_block_presentation {
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 0px;
    height: 600px;
    width: 52%;
    box-shadow: 0 0 18px black;
}
.head_block_autoris {
    position: relative;
    margin: 0 auto;
    height: 80px;
    width: 80%;
}
.head_block_autoris_content {
    position: relative;
    margin: 0 auto;
    height: 80px;
    width: 80%;
    text-align: center;
}
.head_text {
    position: relative;
    text-align: center;
}
.autoris_form_block {
    background-image: url(/image/sisdoc.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}
.info {
    position: relative;
    text-align: center;
    height: 200px;
    width: 100%;
}
#but_hpsm {
    position: relative;
    background-color: rgb(0, 195, 255);
    border-radius: 30px;
    height: 40px;
    width: 60%;
    font-size: 23px;
    outline: none;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    top: 30px;
    transition: 0.3s;
}
#but_hpsm:hover {
    position: relative;
    background-color: rgb(0, 171, 223);
    border-radius: 30px;
    height: 40px;
    width: 60%;
    font-size: 22.5px;
    outline: none;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    top: 30px;
    transition: 0.3s;
    box-shadow: 0 0 2px black;
}
/*--------Contact-----------*/
.info-content_extention {
    float: left;
    position: relative;
    height: 50px;
    width: 50%;
    margin: 0;
    font-size: 12px;
    margin-top: 110px;
}
.info-autor {
    float: right;
    position: relative;
    height: 50px;
    width: 50%;
    margin: 0;
    font-size: 11px;
    margin-top: 110px;
}
/*--------End Contact-----------*/
/*------------Начало навигационной панели-----------------------*/
.box_nav_panel {
    position: relative;
    float: right;
    margin-top: 90px;
    margin-right: 80px;
    height: 40px;
    width: 48%;
    border-radius: 20px 20px 0 0;
    border: 3px solid #00a2ff;
    border-bottom: 0;
}
ul.nav {
    margin-top: -30px;
    margin-left: 5%;
    padding-left: 0px;
    list-style: none;
}
.nav li {
    display: block;
    float: left;
    height: 40px;
    width: 17%;
    margin-left: 8px;
    margin-right: 8px;
}
ul.nav a {
    position: relative;
    display: block;
    height: 30px;
    width: 100%;
    background-color: #c2c2c2;
    border-bottom: 6px solid rgb(0, 146, 172, 0.3);
    box-shadow: 0 0 8px black;
    text-decoration: none;
    border-radius: 1px;
    color: #333;
    text-align: center;
    font-size: 15px;
    transition: 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul.nav a:hover {
    position: relative;
    display: block;
    padding-top: 10px;
    height: 37px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 8px solid rgb(0, 195, 255);
    text-decoration: none;
    border-radius: 1px;
    color: #333;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*------------Конец навигационной панели-----------------------*/
/*------------Слайдер---------------------*/
.slider_conteiner {
    position: relative;
    overflow: hidden;
}
.slider-track {
    display: flex;
    transition: 0.8s;
    background-color: coral;
    animation: select 20s infinite;
}
@keyframes select {
    0% {transform: translateX(0px);}
    18% {transform: translateX(0px);}
    22% {transform: translateX(-890px);}
    40% {transform: translateX(-890px);}
    44% {transform: translateX(-1790px);}
    62% {transform: translateX(-1790px);}
    66% {transform: translateX(-2680px);}
    84% {transform: translateX(-2680px);}
    88% {transform: translateX(-3580px);}
    100% {transform: translateX(-3580px);}
}
.slider_item_1 {
    background-image: url(/image/start_fst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-width: 100%;
}
.slider_item_2 {
    background-image: url(/image/open_fst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-width: 100%;
}
.slider_item_3 {
    background-image: url(/image/find_fst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-width: 100%;
}
.slider_item_4 {
    background-image: url(/image/filled_fst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-width: 100%;
}
.slider_item_5 {
    background-image: url(/image/complite_fst.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-width: 100%;
}
.slider-buttons {
    text-align: center;
}
/*------BOTTOM----------*/
.bot {
    margin: 0 auto;
    position: relative;
    top: 90%;
    width: 80%;
    height: 2px;
    border-bottom: 70px solid rgb(58, 58, 58);
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    z-index: -100;
}